* {
  font-family: Arial, Helvetica, sans-serif;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  overflow-x: hidden;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-right: solid black;
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../Assets/bckgroundgradientauth.png');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}


.sidebar a {
  padding: 8px 8px 8px 2px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

#main {
  margin-left: 250px;
  padding: 20px;
  display: block;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-container {
  margin-bottom: 10px;
}

.sidebar-button {
  padding: 12px 20px; 
  border-radius: 0px;
  cursor: pointer;
  font-size: 18px;
  background-color: #ffffff;
  color: #00226b;
  width: 300px;
  height: 50px; 
  font-weight: bold;
  border: none;
}

.sidebar-button:hover {
  background-color: #01162C;
  color: #ffffff;
}

th,
td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #00226b;
  color: white;
}

table {
  border-bottom: solid #00226b;
}

.booking_info_date {
  margin-bottom: 10px;
  text-align: center;
  padding: 13px;
}

.table {
  display: flex;
  justify-content: center;

}

.customer_info_title {
  text-align: center;
}

.customer_info_date {
  text-align: center;
}

.receipt-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.receipt-row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 15px;
  border-bottom: 2px solid #ddd;
  
}

.receipt-row strong {
  color: #000;
  width: 40%;
  text-align: left;
}

.receipt-row span {
  width: 60%;
  text-align: left;
  color: #333;
}

.event_info_title{
  text-align: center;
  }
  
  .event_info_date{
  text-align: center;
  }

.action-btn {
margin-top: 30px;
display: flex;
justify-content: center;
gap: 15px;
}

/* btn */

.add-btn {
  background-color: #3da9e7; 
  color: white;
  width: 150px;
  height: 35px;
}

.add-btn:hover {
  background-color:  #3da9e7;
  color: white;
}

.remove-btn {
  background-color: rgb(229, 79, 79);
  color: white;
  width: 150px;
  height: 35px;
}

.remove-btn:hover {
  background-color: rgb(212, 72, 72);
  color: white;
}

.add-custo {
  background-color: rgb(75, 216, 75);
  color: white;
  width: auto;
  height: 28px;
}

.add-custo:hover {
  background-color: rgb(63, 188, 63);
  color: white;
}

.dlt-custo {
  background-color: rgb(229, 79, 79);
  color: white;
  width: auto;
  height: 28px;

}

.dlt-custo:hover {
  background-color: rgb(212, 72, 72);
  color: white;
}

.shw-custo {
  background-color: gray;
  color: white; 
  width: auto;
  height: 28px;
}

.shw-custo:hover {
  background-color: rgb(198, 198, 198);
  color: white;
}








.btn:hover {
  background-color: rgb(113, 113, 186);
  color: white; 
}


.delete-button:hover {
  background-color: red; 
  color: white;
}

button {
  width: auto;
  height: auto;
  border: none;
  background-color: #f0f0f0;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  padding: auto;
  border-radius: 5px;
}

button:hover {
  color: #333; 
  background-color: #e0e0e0; 
  transform: scale(1.1); 
}


