<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="./admin.css">

  <title>Admin</title>
</head>

<body>
  <div id="mySidebar" class="sidebar">
    <div class="logo-container">
      <img src="../../Assets/SIA_LOGO_wobg1.png" alt="Logo" class="logo">

    </div>
    <a href="./booking_information.html"><button class="sidebar-button"><i class="fa-solid fa-book"></i>
        Booking</button></a>
    <a href="#"><button class="sidebar-button"><i class="fa-solid fa-receipt"></i> Customer</button></a>
    <a href="./event.html"><button class="sidebar-button"><i class="fa-solid fa-hotel"></i> Event</button></a>
    <a href="./loginpage.html"><button class="sidebar-button"><i class="fa-regular fa-user"></i> Logout</button></a>
  </div>
  <div id="main">
    <div class="booking_info_date">
      <h1>Customer</h1>
      <div id="clock"></div>
    </div>
    <script src="../../ViewModel/timerdisplay.js"></script>

    <div class="receipt-container">
      <div class="receipt-row">
        <strong>ID Number:</strong> <span class="receipt-value">
          <?php echo $booking_id; ?>
        </span>
      </div>
      <div class="receipt-row">
        <strong>Name:</strong> <span class="receipt-value">
          <?php echo $name; ?>
        </span>
      </div>
      <div class="receipt-row">
        <strong>Email:</strong> <span class="receipt-value">
          <?php echo $email; ?>
        </span>
      </div>
      <div class="receipt-row">
        <strong>Contact Number:</strong> <span class="receipt-value">
          <?php echo $contact_number; ?>
        </span>
      </div>
      <div class="receipt-row">
        <strong>Number of People:</strong> <span class="receipt-value">
          <?php echo $number_of_people; ?>
        </span>
      </div>
      <div class="receipt-row">
        <strong>Arrival Date:</strong> <span class="receipt-value">
          <?php echo $arrival_date; ?>
        </span>
      </div>
      <div class="receipt-row">
        <strong>Leaving Date:</strong> <span class="receipt-value">
          <?php echo $leaving_date; ?>
        </span>
      </div>
      <div class="receipt-row">
        <strong>Status:</strong> <span class="receipt-value"> <strong>Confirmed</strong></span>
      </div>
      <div class="action-btn">
      <button href="" class="add-custo">Add Customer</button>
      <button href="" class="dlt-custo">Delete Customer</button>
    </div>
    </div>
    <div class="action-btn">
      <button href="" class="shw-custo">Show Customer Information</button>     
  </div>
  
  </div>
</body>
</html>
