<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="./admin.css">

  <title>Admin</title>
</head>

<body class="backgrndimg">
  <span class="burger" onclick="openNav()">&#9776;</span>
  <div id="Navigation" class="sidenav">
    <div class="logo-container">
      <img src="../../Assets/ESCAPE-AVE-.png" alt="Logo">
    </div>
    <a href="javascript:void(0)" class="closebutton" onclick="closeNav()">&times;</a>
    <a href="../admin/booking_information.html"><i class="fa-solid fa-book"></i> Booking</a>
    <a href="../admin/customer.html"><i class="fa-solid fa-receipt"></i> Customer</a>
    <a href="../admin/event.html"><i class="fa-solid fa-hotel"></i> Event</a>
    <a href="../loginpage.html"><i class="fa-regular fa-user"></i> Logout</a>
  </div>

  <div id="Booking" class="table-container">
    <div id="brand-container" class="brand-container">
      <img src="../../Assets/ESCAPE-AVE-.png" alt="Logo" class="escape">
    </div>
    <div class="table-header-top">
      <h1>Booking Management System <div id="clock"></div>
      </h1>
    </div>
    <div class="table-header">
      <button class="new-member" id="newMemberBtn">New member</button>
      <div class="search-bar">
        <label for="search">Search:</label>
        <input type="text" id="search" placeholder="Enter name/date/id">
        <label for="entries">Show
          <select id="entries">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
          </select> entries
        </label>
      </div>
    </div>
    <table class="custom-table" id="event-summary-table">
      <thead>
        <tr>
          <th>Event Type</th>
          <th>Total Guests</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
        </tr>

        <tr>
          <td>1</td>
          <td>1</td>
        </tr>

        <tr>
          <td>1</td>
          <td>1</td>
        </tr>

        <tr>
          <td>1</td>
          <td>1</td>
        </tr>

      </tbody>
    </table>
    <div class="pagination">
      <p>Showing <span id="pagination-info">1 to 10 of 50 entries</span></p>
      <div>
        <button class="page-btn" id="prev-button">Prev</button>
        <button class="page-btn active" id="page-1">1</button>
        <button class="page-btn" id="page-2">2</button>
        <button class="page-btn" id="page-3">3</button>
        <button class="page-btn" id="page-4">4</button>
        <button class="page-btn" id="page-5">5</button>
        <button class="page-btn" id="next-button">Next</button>
      </div>

      <div id="popupForm" class="popup-form">
        <div class="popup-content">
          <span id="closePopup" class="close-btn">&times;</span>
          <h2>Add Booking</h2>
          <form id="memberForm">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" placeholder="Full name" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" placeholder="example123@gmail.com" required>
            </div>
            <div class="form-group">
              <label for="contact">Contact Number:</label>
              <input type="text" id="contact" name="contact" placeholder="09512575802" required>
            </div>
            <div class="form-group">
              <label for="event">Event Type:</label>
              <input type="text" id="event" name="event" placeholder="Birthday" required>
            </div>
            <div class="form-group">
              <label for="people">Number of People:</label>
              <input type="number" id="people" name="people" placeholder="25pax" required>
            </div>
            <div class="form-group">
              <label for="arrival">Arrival Date:</label>
              <input type="date" id="arrival" name="arrival" required>
            </div>
            <div class="form-group">
              <label for="leaving">Leaving Date:</label>
              <input type="date" id="leaving" name="leaving" required>
            </div>
            <div class="frmbutton-group">
              <button type="submit" class="form-btn">Add Booking</button>
              <button type="submit" class="form-btn" id="cancelBtn">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="../../ViewModel/sidenavFunc.js"></script>
    <script src="../../ViewModel/timerdisplay.js"></script>
    <script src="../../ViewModel/PaginationFunction2.js"></script>
    <script src="../../ViewModel/popupFunc.js"></script>
</body>

</html>