<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="style.css">
  <title>Contact</title>
</head>

<body>
  <header class="header">
    <div class="navigation-bar">
      <div class="nav-links">
        <a href="./index.html">Home</a>
        <a href="./services.html">Services</a>
        <a href="./contact.html">Contact</a>
        <a href="./index.html"><img src="../Assets/SIA_LOGO_wobg1.png" alt="Escape Avenue" class="logo"></a>
        <a href="./booking.html">Book Now</a>
        <a href="./myBooking.html">My Booking</a>
        <a href="./faq.html">FAQ</a>
      </div>
    </div>
  </header>

  <div class="image-header">
    <div class="image-overlay">
      <div class="welcome">
        <img src="../Assets/Contact.png" alt="Escape Avenue">
      </div>
    </div>
  </div>

  <img class="homepage-image" src="../Assets/Contacts.png" alt="">

  <form action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="d424a9d5-17af-464a-9a29-8615e1f23044">
    
    
    <div class="form-container">
      <div class="form-content">
        <div class="left-side">
          <div class="address-details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Golf View Executive Homes</div>
            <div class="text-two">Talomo, Davao City, Philippines</div>
          </div>
          <div class="phone-details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">09512575802</div>
            <div class="text-two">09065864399</div>
          </div>
          <div class="email-details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">escapeavenue@gmail.com</div>
            <div class="text-two">lemuelabellana84@gmail.com</div>
          </div>
        </div>

        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p class="forms-paragraph">Should you have any requests or inquiries, please do not hesitate to contact us. We
            are committed to providing prompt assistance and ensuring that all your needs are met to your satisfaction.
          </p>
          <div class="input-box">
            <input type="text" name="name" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <input type="email" name="email" placeholder="Enter your Email" required>
          </div>
          <div class="input-box message-box">
            <textarea name="message" placeholder="Enter your message" required></textarea>
          </div>
          <div class="form-button">
            <input type="submit" value="Send Now">
          </div>
        </div>
      </div>
    </div>
  </form>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <p>&copy; 2024 Escape Avenue. All rights reserved.</p>
      </div>
      <div class="footer-middle">
        <a href="./index.html" class="footer-logo">
          <img src="../Assets/footer_logo.png" alt="Escape Avenue Logo" class="footer-logo-image">
        </a>
      </div>
      <div class="footer-right">
        <p>Follow us:</p>
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>

</body>

</html>
