<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="authStyles.css">
    <title>Escape Avenue - Register</title>
</head>
<body>
    <div class="backgrndimg">
        <div class="container">
            <div class="logo">
                <img src="../Assets/ESCAPE-AVE-.png" alt="Escape Avenue Logo">
            </div>
            <div class="login-panel">
                <h2>Welcome To Escape Avenue</h2>
                <p>Create an Admin account</p>
                <form id="register-form">
                    <div class="input-group">
                        <label>
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Enter Username" name="username" required>
                        </label>
                    </div>
                    <div class="input-group">
                        <label>
                            <i class="fas fa-user"></i>
                            <input type="email" placeholder="Enter Email" name="email" required>
                        </label>
                    </div>
                    <div class="input-group">
                        <label>
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Enter Password" name="password" required>
                        </label>
                    </div>
                    <div class="input-group">
                        <label>
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Repeat Password" name="repeat_password" required>
                        </label>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="auth-btn">REGISTER</button>
                    </div>
                </form>
                <hr>
                <p>Already have an account? <a href="loginpage.html">Login Here</a>.</p>
            </div>
        </div>
    </div>
    <script src="../Model/RegisterViewModel.js"></script>
</body>
</html>
