<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="style.css">
  <title>Services</title>
</head>

<body>
  <header class="header">

    <div class="navigation-bar">
      <div class="nav-links">
        <a href="./index.html">Home</a>
        <a href="./services.html">Services</a>
        <a href="./contact.html">Contact</a>
        <a href="index.html"><img src="../SIA_Project/Assets/SIA_LOGO_wobg1.png" alt="Escape Avenue" class="logo"></a>
        <a href="./booking.html">Book Now</a>
        <a href="./myBooking.html">My Booking</a>
        <a href="./faq.html">FAQ</a>
      </div>
     
  </header>

  <div class="image-header">

    <div class="image-overlay">
      <div class="welcome">
        <img src="../SIA_Project/Assets/Services.png" alt="Escape Avenue" class="h4">
      </div>
    </div>
  </div>

  <img class="homepage-image" src="../SIA_Project/Assets/Services2.png" alt="">

  <div class="service-container">
    <div class="row">
      <div class="column">
        <div class="service-info">
          <img src="./Assets/escape_room.jpg" alt="Mountains" style="width:100%">
          <h1>Suites</h1>
          <p>Escape Avenue offers a range of luxurious suites designed for relaxation, comfort, and serenity. Each suite
            is thoughtfully crafted to provide guests with a peaceful retreat from the outside world, ensuring a
            rejuvenating stay.</p>
        </div>
      </div>
      <div class="column">
        <div class="service-info">
          <img src="./Assets/escape_food.png" alt="" style="width:100%">
          <h1>Dining & Cafe</h1>
          <p>Escape Avenue offers a cozy dining experience with a mix of comfort food and local delicacies, set in a
            charming rest house motel. It’s the perfect spot to relax and unwind with a delicious meal.</p>
        </div>
      </div>
      <div class="column">
        <div class="service-info">
          <img src="./Assets/escape_billiards.jpg" alt="" style="width:100%">
          <h1>Activities</h1>
          <p>Escape Avenue offers exciting activities like billiards, table tennis, and various indoor sports. Guests
            can enjoy friendly matches in the game room or unwind with a casual game, making it a fun and active
            retreat.</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <p>&copy; 2024 Escape Avenue. All rights reserved.</p>
      </div>

      <div class="footer-middle">
        <a href="./index.html" class="footer-logo">
          <img src="../SIA_Project/Assets/footer_logo.png" alt="Escape Avenue Logo" class="footer-logo-image">
        </a>
      </div>

      <div class="footer-right">
        <p>Follow us:</p>
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>

</body>

</html>