@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #01162C;
    background-color: #f4f0ec;
    margin: 0;
    padding: 0;
  }

.header {
    background-color: #08142c;
    position: sticky;
    top: 0;
    z-index: 500;
    height: 150px;
    text-align: center; 
}

.image {
    display: grid;
    place-items: center;
}


.image img {
    width: 75%;
    margin-right: 70px;
}



.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-image {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 30%;
    margin-top: 25px;
}


.image-header {
    width: auto;
    height: 50vh;
    background-image: url(../Assets/Resort.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 43, 43, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome img {
    width: 1000px;
}

.welcome img.h4 {
    max-width: 100%;
    height: auto;
    z-index: 1;
    animation: fadeIn 1.2s ease-in-out;
}

.container {
    min-height: 75vh;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 250px;
    width: 75%;

}

.title {
    font-size: 50px;
    font-weight: 750;
    line-height: 3rem;
    margin-bottom: 1.7rem;
}

.homepage-header {
    font-size: 50px;
    font-weight: 750;
    line-height: 3rem;
    margin-bottom: 1.7rem;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.imager {
    display: grid;
    place-items: center;
}

.imager img {
    width: min(25rem, 90%);
    border-radius: 50px;
}

.description {
    line-height: 3.0rem;
    margin-bottom: 2rem;
    font-size: 35px;
    text-align: justify;
}

/* Nav-Bar */

.navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 20x;
    font-size: 25px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f0a500;
}

.nav-links .logo {
    width: 100px;
    margin: 20px 30px;
}

.nav-links img {
    display: block;
}

/* Side-by-side Image */

.service-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}


.row {
    margin: 8px -16px;
}


.row, .column {
    display: flex;
    padding: 8px;
}


.column {
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.service-info {
    background-color: white;
    padding: 15px;
    text-align: justify;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.service-info p {
    font-size: 20px;

}


.service-container .service-info {
    transition: all 0.3s ease;
    transform: scale(1);
    opacity: 1;
}

.service-container .service-info:hover {
    transform: scale(1.05);
    opacity: 0.9;
}



/* Footer */

.footer {
    background-color: #01162C;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
  }
  

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left,
.footer-right {
    flex: 1;
}

.footer-middle {
    flex: 1;
}

.footer p {
    margin: 0;
}

.footer-logo-image {
    width: 100px;

}

.footer-right a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.footer-right a:hover {
    color: #ff9800;
    /* Accent color */
}

.footer-right i {
    font-size: 1.5em;
}


/* Contacts */

.contact-container {
    width: 80%;
    margin: 0 auto;
}

/* Lists */

ul, li {
    font-size: 30px;
    margin-left: 30px;
}

/* Button */

button {
    border: none;
}

/* Contact */

.form-container {
    width: 80%;
    background: #f8fcff;
    padding: 30px 60px 40px 40px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    
}

.form-container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container .form-content .left-side {
    width: 25%;
    height: 100%;
    position: relative;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container .form-content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 4px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #2a95ff;
}

.form-content .left-side .address-details,
.form-content .left-side .phone-details,
.form-content .left-side .email-details {
    margin: 14px;
    text-align: center;
}

.form-container .form-content .right-side {
    width: 75%;
    margin-left: 90px;
}

.form-content .left-side .address-details i,
.form-content .left-side .phone-details i,
.form-content .left-side .email-details i {
    font-size: 30px;
    color: #1073ff;
    margin-bottom: 10px;
}

.form-content .left-side .address-details .text-one,
.form-content .left-side .address-details .text-two,
.form-content .left-side .phone-details .text-one,
.form-content .left-side .phone-details .text-two,
.form-content .left-side .email-details .text-one,
.form-content .left-side .email-details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.form-content .left-side .address-details .topic,
.form-content .left-side .phone-details .topic,
.form-content .left-side .email-details .topic {
    font-size: 18px;
    font-weight: bold;
}

.form-content .right-side .topic-text {
    font-size: 23px;
    font-weight: bold;
    color: #1073ff;
}

.form-content .right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.form-content .right-side .input-box input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
}

.form-content .right-side .input-box textarea {
    height: 100px;
    width: 100%;
    border: none;
    font-size: 18px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 15px;
    resize: none;

}

.form-content .right-side .message-box {
    min-width: 110px;
    margin-top: 6px;
}

.form-content .right-side .form-button {
    margin-top: 50px;
    display: inline-block;
}

.form-content .right-side .form-button input[type="submit"] {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #1073ff;
    border-radius: 6px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3 ease;

}

.form-content .right-side .form-button input[type="submit"]:hover {
    background: #125fca;
}

@media (max-width: 950px) {
    .form-container {
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}

@media (max-width: 950px) {
    .form-container {
        margin: 40px;
        height: 100%;
    }

    .form-container .form-content {
        flex-direction: column-reverse;
    }

    .form-container .form-content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-container .form-content .left-side::before {
        display: none;
    }

    .form-container .form-content .right-side {
        width: 100%;
        margin-left: 0;
    }

}

/* Booking Section */

.booking {
    padding: 2rem 9%;
    margin-bottom: 75px;
    margin-left: 100px;
    
}

.booking .booking-heading {
    font-family: 'Poppins', sans-serif; 
    font-size: 80px;
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    
}

.booking .booking-heading span {
    font-size: 3.5rem;
    background: rgba(0, 0, 255, 0.2);
    color: #000000;
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.booking .booking-heading .space {
    background: none;
}

.booking .booking-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.booking .booking-row .booking-img img {
    width: 500px;
    height: auto;
}

.booking .booking-row form {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    max-width: 400px;
    width: 100%;
}

.booking .booking-row form .form-input-box {
    margin-bottom: 1rem;
}

.booking .booking-row form .form-input-box h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.booking .booking-row form .form-input-box input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.booking .booking-row form .form-submit-box {
    display: flex;
    flex-direction: row;
    gap: 1rem; 
    margin-top: 1rem;
    align-items: center; 
}

.booking .booking-row form .submit-btn, 
.booking .booking-row form .availability-btn  {
    background-color: #1073ff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
}

.booking .booking-row form .submit-btn:hover,
.booking .booking-row form .availability-btn:hover {
    background-color: #125fca;
}

/* Responsive Styles */
@media (max-width: 950px) {
    .booking .booking-heading span {
        font-size: 2.5rem;
    }

    .booking .booking-row {
        flex-direction: column;
        align-items: center;
    }

    .booking .booking-row .booking-img img {
        width: 100%;
    }
}

  .title-booking {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #003366;
  }
  
  .receipt-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure it respects top positioning */

}

.receipt-row {
    display: flex; /* Arrange labels and values horizontally */
    justify-content: space-between; /* Align labels and values on opposite sides */
    margin-bottom: 15px; /* Add space between rows */
}

.receipt-row strong {
    flex-basis: 40%; /* Set label width */
    text-align: left; /* Align labels to the left */
    color: #333;
}

.receipt-value {
    flex-basis: 60%; /* Set value width */
    text-align: right; /* Align values to the right */
    color: #666; /* Slightly lighter color for values */
}

.note {
    margin-top: 20px;
    color: red;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

.cancel-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.cancel-button:hover {
    background-color: #d32f2f;
}

/* */

  .faq-section {
    max-width: 1000px;
    padding: 40px 20px;
    min-height: 75vh;
    margin: auto;
    align-items: center;
  }
  
  .faq-section h1 {
    font-size: 32px;
    text-align: center;
    color: #0a1e2e;
  }
  
  .faq-section p {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
  }
  
  .faq-category h2 {
    font-size: 24px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .faq-item {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    
  }
  
  .faq-question {
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    color: #0a1e2e;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .faq-answer {
  display: block;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  
  .faq-item.active .faq-answer {
    display: block;
    max-height: 200px; /* Set to a value that fits your content */
    opacity: 1;
  }
  
  .receipt-container .receipt-row .receipt-value .confirm{
    color: rgb(14, 214, 34);
  }